/* .swiper-slide {
    display: flex;
} */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}  

.navigation{
    color: white;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper {
    height:100%;
    width: 100%;
    /* box-sizing: border-box; */
} 

.mySwiper2{
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

